extend layout

block content
  p
    | WordPlay is a free-text linguistic exploration tool.
    | 
  p
    | Built by 
    a(href="http://o-c-r.org") The Office for Creative Research 


  script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
  script.
    function submitForm(txt) {
      var corp = document.getElementById("corpusID").value;
      var txt = document.getElementById("searchText").value;
      var json = $.getJSON("http://wordplay.ocr.org/wp/" + corp + "/" + txt, function(data) {
        console.log("JSON RECEIVED")
        processResults(data);
      });
      
    }

    function processResults(json) {

      var items = [];

      $(".result-list").remove();

      for(var i = 0; i < json.results.length; i++) {
        var txt = json.results[i].segment;
        items.push( "<li id='" + txt + "'>" + txt + "</li>" );
        //console.log(txt);
      }

      $( "<ul/>", {
        "class": "result-list",
        html: items.join( "" )
      }).appendTo( ".results" );
    }

  form(name="login", action="JavaScript:submitForm()", method="post")
      select(name="corpus" id="corpusID")
        option(value="shakes") Shakespeare
        option(value="bible") Bible
        option(value="freud") Freud
        option(value="mobydick") Moby Dick
        option(value="bieber") Bieber
      input(type="text", name="user", id="searchText" value="a terrible fate")
      input(type="submit", value="search")

  .results
  