doctype html
html
  head
    title #{title} - WordPlay
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .main-content
        block content
    .sidebar
      block sidebar
    footer
      a(href="http://blog.blprnt.com/blog/blprnt/wordplay") What is this?