doctype html
html
  head
    title #{title} - WordPlay
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 WordPlay
    .container
      .main-content
        block content
    .sidebar
      block sidebar
    footer
      a(href="https://github.com/blprnt/wordplay") Fork this on Github!